
@model List<GetProductsQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürünler</h1>

<table class="table table-hover">
    @{
        int count = 0;
    }
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Kategori</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Price TL</td>
            <td>@item.Stock</td>
            <td>@item.Category.Name</td>
            <td>
                <a href="/Admin/Product/DeleteProduct/@item.Id" class="btn btn-danger">Sil</a>
                <a href="/Admin/Product/UpdateProduct/@item.Id" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }

</table>
<a href="/Admin/Product/CreateProduct" class="btn btn-dark">Yeni Ürün Oluştur</a>